/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18.07.2023, 11:00:32
    Author     : leohohenberger
*/




/* Responsives Design */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

/* Stile für Bootstrap-Komponenten */
.container {
  margin: 0 auto;
}

form .form-group {
  margin-bottom: 15px;
}

button.btn {
  padding: 8px 15px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #23527c;
}

